 /* body
 {
    background-image: url("../static/images/dublin_city_map_neon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(1px);
 } */
#heading
{
    font-family: "Protest Riot", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vh;
    text-align: center;
    color: yellow;
}

.weatherInfo
{
    display: flex;
    flex-wrap: nowrap;
    background-color: orange;
    height:5vh;
    align-items: center;
}

.weatherInfo span
{
    flex:1;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

/* #travel
{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    flex-direction: row;
    height:80vh;
} */

#googlemaps
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


#pac-input {
    position: relative;
    z-index: 3;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 40vw;
    height: 5vh;
    border-radius: 1.5vh;
    top:2vh;
    background-color: lightgrey;
    font-family:monospace;
    display: flex;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }

  #closestStations
  {
    margin-left: 12px;
    width:fit-content;
    background-color: gainsboro;
  }

  #closestStations>h2
  {
    text-align: center;
    font-size: larger;
  }

  .stationDiv
  {
    display: none;
  }

  #closestStations>div{
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height:5vh;
    column-gap: 7px;
    border:1px solid black;
    padding: 1vh;
  }

  #closestStations>div:hover {
    background-color: gray;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
  }

  #panel
  {
    display: none;
    width:fit-content;
    background-color: gainsboro;
    overflow-y: scroll;
    bottom: 0;
    right:0;
    margin-top:40vh;
  }
#map{
    position: relative;
    z-index: 2;
    /* top: -5vh; */
    height:81vh;
}

@media (max-width:700px)
{
    #travel
    {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
}

/* pop up for closest stations */
#popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
   }
   
   #close-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
   }
   