 
#bodyWrapper
{
    display: grid;
    grid-template-columns: 22% 78%;
    margin: 0px;
    padding: 0px;
}

#headingWrapper
{
    background-color: #0077B3;
    display: flex;
    flex-direction: column;
    row-gap: 12vh;
}

#heading
{
    font-weight: 900;
    font-style: normal;
    font-size: 5vh;
    text-align: center;
    color: #fff;
}

.weatherInfo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    row-gap: 2vh;
    animation: fade-in 1.5s ease-in;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#weatherDetails
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    row-gap: 2vh;
}

#weatherDetails>div
{
    font-size:large;
    font-weight: 600;
    color: #fff;
    font-family:monospace;
}

#journeyPlanner {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #journeyPlanner:hover {
    background-color: #3e8e41;
  }
  
  #journeyPlanner:active {
    background-color: #3e8e41;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

/*all the things displayed on the google maps*/
#pac-input {
    position: relative;
    z-index: 3;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 40vw;
    height: 5vh;
    border-radius: 1.5vh;
    top:2vh;
    background-color: lightgrey;
    font-family:monospace;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }


#travel
{
    height: 98vh;
}

#googlemaps
{
    flex: 2;
}

#map{
    position: relative;
    z-index: 2;
    height:98vh;
}

/*This div displays the directions*/
#panel
{
  display: none;
  width:fit-content;
  background-color: gainsboro;
  overflow-y: scroll;
  bottom: 0;
  right:0;
  margin-top:40vh;
}

#closeDirections
{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

/* pop up for closest stations */
#popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
   }
   
   #close-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
   }
   
#travelForm
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#showRoute
{
    background-color: #16a318;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

#close{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
   }

   #sourceDropdown, #destDropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    appearance: none;
    cursor: pointer;
    outline: none;
  }
  
  #sourceDropdown, #destDropdown:focus {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  #sourceDropdown, #destDropdown option {
    background-color: #fff;
    color: #000;
    padding: 8px;
    font-size: 16px;
  }
  
  #sourceDropdown, #destDropdown option:hover {
    background-color: #f2f2f2;
  }
  
  #sourceDropdown, #destDropdown option:focus {
    background-color: #f2f2f2;
  }
  
  #sourceDropdown, #destDropdown option:checked {
    background-color: #4CAF50;
    color: #fff;
  }

   .dropdown {
    position: relative;
    display: inline-block;
   }
   
   .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
   }
   
   .dropdown:hover .dropdown-content {
    display: block;
   }
   

   .avgOccupancy {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .avgOccupancy:hover {
    background-color: #3e8e41;
  }
  
    .avgOccupancy:active {
    background-color: #3e8e41;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  #predictButtonSource,#predictButtonDestination
  {
    background-color: #16a318;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }