 
#heading
{
    font-family: "Protest Riot", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vh;
    text-align: center;
}

.weatherInfo
{
    display: flex;
    flex-wrap: nowrap;
    background-color: orange;
    height:5vh;
    align-items: center;
}

.weatherInfo span
{
    flex:1;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

#pac-input {
    position: relative;
    z-index: 3;
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 40vw;
    height: 5vh;
    border-radius: 1.5vh;
    top:2vh;
    background-color: lightgrey;
    font-family:monospace;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }


/* #travel
{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    flex-direction: row;
} */

#googlemaps
{
    flex: 2;
}

#map{
    position: relative;
    z-index: 2;
    /* top: -5vh; */
    height:81vh;
}

#panel
{
  display: none;
  width:fit-content;
  background-color: gainsboro;
  overflow-y: scroll;
  bottom: 0;
  right:0;
  margin-top:40vh;
}


@media (max-width:700px)
{
    #travel
    {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
}

/* pop up for closest stations */
#popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
   }
   
   #close-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
   }
   
#travelForm
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#close{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
   }