
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPT_1yhfgBnnca3hOlT8p6LNwOhnt6oeU&&callback=initMap&libraries=places,geometry,visualization&loading=async"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <title>Dublin Bikes</title>
</head>
<body>
    <script>
        function updateTime() {
        var currentTime = new Date();
        var day = currentTime.getDate();
        var month = currentTime.getMonth();
        var year = currentTime.getFullYear();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        var seconds = currentTime.getSeconds();
        var timeString = hours + ":" + minutes + ":" + seconds;
        document.getElementById("currentTime").innerHTML = "Time: " +timeString;
        }
        setInterval(updateTime, 1000);
    </script>

<div id="bodyWrapper">
    <div id="headingWrapper">
        <div><h1 id="heading">Dublin Bikes</h1></div>
        <div class="weatherInfo">
            <div><img src="{{wicon}}" alt="Weather Icon" style="filter:drop-shadow(5px 5px 15px rgb(76, 66, 66));"></div>
            <div id="weatherDetails">
                <div id="temperature">Temperature:{{temp}}°C</div>
                <div id="conditions">Conditions:{{condition}}</div>
                <div id="wind speed">Wind Speed:{{speed}}mph</div>
                <div id="wind direction">Wind Direction:{{direction}}</div>
                <div id="precipitation">Precipitation:{{rain}}mm</div>
                <div id="currentTime"></div>
            </div>
        </div>
        <div>
            <button id="journeyPlanner">Plan Journey</button>
        </div>
    </div>

    <div id="travel">

        <div id="googlemaps">
            <input id="pac-input" class="controls" type="text" placeholder="Search Starting Location"/>
        </div>
        <!--This div contains the map-->
        <div id="map"></div>

        <!--This panel will display the directions-->
        <div id="panel">
            <button id="closeDirections">Close</button>
        </div>

        <!-- pop up window for closest stations  -->
        <div id="popup-window" style="display: none;">
            <h1>Closest Stations</h1>
            <div id="station-info"></div>
            <button id="close-button">Close</button>
             <!-- Line chart for average occupancy -->
             <div class="dropdown">
                
                <div class="dropdown-content">
                    <canvas id="occupancyChart"></canvas>
                </div>
            </div>
        </div>
        <!-- end of closest station pop up  -->

         <!--Form where user is prompted to select two stations from list of options given-->
         <div id="travelForm">
            <label for="dropdown1">Start</label>
            <select name="dropdown1" id="sourceDropdown">
                <option selected value="">Source</option>
            </select>
            <label for="dropdown2">End</label>
            <select name="dropdown2" id="destDropdown">
                <option selected value="">Destination</option>
            </select>
            <Button id="showRoute">Show Route</Button>
            <Button id="close">Close</Button>
            <div id="journey-details"></div>
        </div>
    
    </div>
</div>

    
<script id="mainScript" src="../static/index.js" data-stations='{{stations | tojson | safe}}'></script>

</body>
</html>